.ekmps-search-field  {
	border: 1px solid $c-grey;
}
.ekmps-search-button {
	background: $c-grey;
}
.minicart-icon {
	fill: $c-blue;
}
.product-item-price {
	font-size: 2.4rem;
}
.product-item-rrp {
	font-size: 1.5rem;
}

@media only screen and (max-width: 979px) and (min-width: 0px) {
	.logo img {
	    max-width: 22rem;
	}
}