.footer-holder {
	clear: both;
	float: none;
    &.stuck{
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    &.unstuck{
        position:relative;
    }
}

footer {
    background: $c-secondary-light;
    overflow: hidden;
    padding: 20px 0;
    .container {
        position: relative;
        padding: 10px 10px 0 10px;
    }
    .address{
        text-align: center;
        p{
            color: #ddd;
        }
        h4 {
            color: $c-secondary-dark;
            font-weight: 300;
        }
    }
}

#clearance-corner-flash {
	display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 -20px -20px 0;
}

.footer-blocks {
	font-size: 0;
}

.footer-block {
    color: $c-text-light;
    text-align: left;
    margin-bottom: 20px;
    ul {
        list-style: none;
    }
    li{
    	font-size: 14px;
    	padding: 4px 0;
		@extend .directicon;
    	@extend .directicon-chevron-right;
        &:before{
            font-size: 10px;
            color: $c-primary-medium;
			vertical-align: middle;
			width: 15px;
        }
        a {
			display: inline-block;
			width: calc(100% - 16px);
			line-height: 1.3;
			vertical-align: middle;
        }
    }
    a {
        color: $c-secondary-dark;
    }
    h4 {
        color: $c-secondary-dark;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &:last-child {
		margin-bottom: 0;
    }
}

#footer-contact-details {
	margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#logo-container {
	margin-bottom: 20px;
	img {
		max-height: 70px;
	}
}

#contact-details-container {
	address {
		margin: 0 auto 20px auto;
		line-height: 18px;
		max-widhth: 300px;
	}
	tel {
		margin-bottom: 20px;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.footer-block {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		h4 {
			font-size: 15px;
		}
		li {
			font-size: 12px;
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.footer-block {
		h4 {
			font-size: 17px;
			font-weight: 400;
		}
		li {
			font-size: 14px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	footer {
	    .container {
	        padding: 0 0 0 30px;
	    }
		.social-icons {
			float: right;
			margin-top: -30px;
		}
	}
	.footer-block {
		margin-bottom: 0;
		width: calc(25% - 15px);
		&:nth-of-type(n) {
			margin-right: 20px;
		}
		&:nth-of-type(4) {
			margin-right: 0;
		}
		h4 {
			font-size: 19px;
		}
		li {
			padding: 5px 0;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}