.container {
	max-width: 1200px;
	margin: 0 20px;
}

#side-bar {
    margin-bottom: 20px;
}
.section {
    border-bottom: 1px solid $c-border;
    padding-bottom: 20px;
    margin-bottom: 20px;
    .content-container,
    .image-container {
        display: inline-block;
        vertical-align: middle;
        img {
            max-height: none;
        }
    }
    .content-container {
    	width: 100%;
    }
    .image-container {
        text-align: center;
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#main-column {

	}
	.section {
	    .content-container {
			width: 49.6%;
		}
		.image-container {
			width: 49.6%;
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#side-bar,
	#main-column {
	    display: inline-block;
	    vertical-align: top;
    }
	#main-column {
    	float: right;
		width: calc(75% - 20px);
	}
	#side-bar {
		width: 25%;
		margin-right: 20px;
	}
	.section {
	    .content-container {
			width: 59%;
		}
		.image-container {
			width: 40%;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.section {
	    .content-container {
			width: 64%;
		}
		.image-container {
			width: 34%;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	.container {
		margin: 0 auto;
	}
}