header {
    padding: 0;
}

#header-logo-strip {
    padding: 20px 0;
    font-size: 0;
}

#logo {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    a {
    	display: block;
    }
    img {
        max-width: 100%;
        margin: 0 auto;
        max-height: 80px;
    }
}

#telephone-header {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    h1 {
        font-family: 'tagline', Roboto, Arial, sans-serif;
        line-height: 16px;
        font-weight: 500;
        font-size: 18px;
        span {
        	color: $c-primary-medium;
        }
    }
    tel {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 2px;
    }
    p {
        margin: 0;
        font-size: 12px;
    }
}

#search-form-container {
	width: 100%;
    #search-box {
        border: 3px solid $c-lblue;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        @include border-radius($radius);
        input {
            border: none;
            padding: 6px 3px;
            font-size: 16px;
            width: calc(100% - 65px);
        }
        button {
        	font-family: 'tagline', Roboto, Arial, sans-serif;
        	font-size: 11px;
            border: none;
            width: 60px;
            font-weight: 300;
            height: 26px;
            top: -2px;
            position: relative;
            background: $c-blue;
            color: $c-white;
            border-radius: 2px;
        }
    }
}

#social-contact{
	display: none;
    text-align: right;
    margin-bottom: 10px;
    width: 270px;
    a {
    	&.social {
	        margin-top: 0;
	        vertical-align: middle;
	    }
	}
    .links {
        font-size: 11px;
        font-weight: 500;
    }
    .social-icons {
		display: inline-block;
		a {
			margin: 0 0 0 8px;
		}
	}
}



#main-column.searchCol{
    .search-nav{
        color: $c-primary-medium;
        float:right;
        .invalid{
            color: $c-secondary-light;
        }
        .inactive{
            color: $c-primary-medium;
        }
        .active{
            color: $c-text;
        }

    }
    .search-container{
        .image-container{
            display: inline-block;
            width: 20%;
            img{
                width: 100%;
            }
        }
        .content-container{
            display: inline-block;
            .title{
                color: $c-text;
                font-size: 16px;
                font-weight: 400;
                display:block;
            }
            .price{
                color: $c-primary-medium;
                font-size: 24;
                font-weight: 900;
                display:block;
                margin: 3% 1%;
            }
            .button{

            }
        }
    }
    .checkout-container{
        font-size: 14px;
        color: $c-text;
        display: block;
        margin-bottom: 1%;
        padding: 1%;
        .image-container{
            width: 10%;
            display: inline-block;
            img{

                width: 100%;
            }
        }
        .title{
            text-align: center;
            width: 40%;
            margin: 0 2.5%;
            display: inline-block;
        }
        .qty{
            text-align: center;
            width: 10%;
            display: inline-block;
            input{
                width: 100%;

            }
        }
        .price{
            text-align: center;
            width: 15%;
            margin: 0 2.5%;
            display: inline-block;
        }
        .remove{
            text-align: right;
            width: 5%;
            display: inline-block;
            a span{
                color: #f00;
            }
        }
        &.headings{
            font-weight: bold;
            margin-bottom: 0;
        }
        &:nth-of-type(even){
            background-color: lighten($c-secondary-light,7.5%);
        }
    }
    .checkout-totals{
        font-size: 16px;
        width: 40%;
        float: right;
        span{
            float: right;
        }
        #total{
            border-top: 3px double #000;
            border-bottom: 1px solid #000;
            color: $c-primary-medium;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	header {
		margin-bottom: 0;
	}
	#logo,
	#telephone-header {
		display:inline-block;
	    vertical-align: top;
	}
	#logo {
		width: 47%;
		margin-right: 2%;
	}
	#telephone-header {
	    width: 50%;
	    text-align: right;
	    h1 {
	    	display: none;
	    }
	    p {
	    	font-size: 11px;
	    }
	}
	#search-form-container {
		#search-box {
			input {
				padding: 6px 10px;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	header {
		margin: 0 20px;
	}
	#header-logo-strip {
		padding: 30px 0;
	}
	#telephone-header {
	    tel {
	    	font-size: 30px;
	    	line-height: 48px;
	    	letter-spacing: -1px;
	    }
	    p {
	    	font-size: 13px;
	    }
    }
    #search-form-container {
	    .trustpilot-widget {
			margin-bottom: -17px;
	    }
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	header {
		margin: 0;
	}
	#logo {
		text-align: left;
		width: 33%;
		margin-right: 3%;
		margin-bottom: 0;
		img {
            max-width: 100%;
		}
	}
	#telephone-header {
        width: 33%;
        padding-top: 0;
        text-align: center;
        margin-right: 3%;
        margin-bottom: 0;
	    h1 {
	    	font-size: 14px;
	    	display: block;
	    	margin-bottom: 4px;
	    }
	    tel {
	    	font-size: 25px;
            line-height: 32px;
            letter-spacing: 0;
            margin-bottom: 4px;
	    }
	    p {
	    	font-size: 12px;
	    }
    }
	#search-form-container {
		display: inline-block;
		vertical-align: top;
		width: 28%;
	}
	#social-contact{
		width: auto;
		display: block;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#telephone-header {
		padding-top: 6px;
		h1 {
			font-size: 18px;
			margin-bottom: 4px;
		}
	    tel {
	    	font-size: 32px;
            line-height: 40px;
	    }
	    p {
	    	font-size: 14px;
	    }
    }
    #social-contact{
		margin-bottom: 14px;
		.links {
			font-size: 13px;
			font-weight: 300;
		}
    }
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}