
#mobile-menu {
	background: $c-secondary-dark;
	text-align: left;
	padding: 10px 0 9px 20px;
	font-size: 17px;
	span {
		@extend .directicon;
		@extend .directicon-hamburger;
		color: $c-secondary-light;
	}
}

#main-nav {
    background: $c-secondary-dark;
    margin-bottom: 20px;
	.container {
		margin: 0;
		position: relative;
	}
    .main {
        font-size: 0;
        &.active {
        	& > li {
        		display: block;
        	}
        }
        & > li {
            display: none;
            & > a {
	            line-height: 43px;
	            font-size: 14px;
	            font-weight: 300;
	            text-align: left;
	            padding-left: 20px;
	            display: block;
	            color: $c-white;
	            background-color: $c-secondary-dark;
	            border-top: 1px solid $c-white;
	            position: relative;
	            &:hover {
	            	background-color: darken($c-secondary-dark, 10%);
	            }
	        }
	        ul {
	        	max-height: 0;
            	transition: max-height 0.2s;
	        	background-color: $c-lgrey;
	        	overflow: hidden;
	        	&.active {
	        		max-height: 350px;
	        		box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
	        	}
	        	li {
					&:first-child {
						a {
							border-top: none;
						}
					}
	        	}
	        	a {
					display: block;
					line-height: 17px;
					font-size: 13px;
					color: $c-secondary-medium;
					border-top: 1px solid $c-grey;
					padding: 10px 20px;
					&:hover {
						background-color: darken($c-lgrey, 10%);
					}
	        	}
	        }
        }
    }
}

#mini-cart-trigger {
	span {
		@extend .directicon;
		@extend .directicon-cart-circle;
		&:before {
			font-size: 160%;
            margin-right: 5px;
            line-height: 100%;
		}
	}
}


#sub-nav {
    background: $c-secondary-light;
    font-size: 0;
    display: none;
    margin-bottom: 20px;
    .sub-nav-item {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        border-left: 1px solid $c-border;
        border-top: 1px solid $c-border;
        line-height: 1;
        font-size: 11px;
        color: $c-text;
        text-align: center;
        padding: 8px 0;
        &:hover {
            text-decoration: none;
            color: darken($c-text, 10%);
            background: darken($c-secondary-light, 10%);
        }
    }
}
body[data-page="0"] {
	#sub-nav {
		margin-bottom: 0;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#main-nav {
		margin-bottom: 0;
	}
	#sub-nav {
		display: block;
		.sub-nav-item {
			width: 50%;
	        border-left: 1px solid $c-grey;
        	font-size: 12px;
	        &:nth-of-type(1),
	        &:nth-of-type(3) {
	            border-left: none;
	        }
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#mobile-menu {
		display: none;
	}
	#main-nav {
	    .mobile-only {
	    	display: none;
	    }
        .main {
        	display: table;
        	width: calc(100% - 100px);
			& > li {
	            display: table-cell;
	            position: relative;
	            border-right: 1px solid #FFF;
	            ul {
	            	position: absolute;
	            	z-index: 10;
	            	left: 0;
	            	right: 0;
	            }
		        & > a {
		        	border: none;
		        	line-height: 1.3;
		        	font-size: 1.4vw;
		        	padding: 8px 12px;
		        	text-align: center;
		        }
	        }
        }
	}
	#sub-nav {
		.sub-nav-item {
			width: 25%;
			&:nth-of-type(3) {
				border-left: 1px solid $c-grey;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#main-nav {
        .main {
			& > li {
		        & > a {
		        	font-size: 1.2vw;
		        	padding: 10px 12px;
		        }
	        }
        }
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#main-nav {
		.container {
			margin: 0 auto;
		}
		.main {
        	width: calc(100% - 110px);
        	& > li {
		        & > a {
		        	font-size: 13px;
		        }
	        }
        }
	}
}