.side-nav {
    margin-bottom: 5%;
    border: 1px solid $c-secondary-light;
    @include border-radius($radius);
    overflow: hidden;
    li {
        background: lighten($c-secondary-light, 4%);
        &.active{
            background: $c-primary-medium;
            a {
                color: $c-white;
            }
        }
        a {
            position: relative;
            padding: 10px 18px;
            border-top: 1px solid $c-secondary-light;
            color: $c-text;
            display: block;
            &:hover {
                background: $c-primary-light;
                color: $c-text;
                text-decoration: none;
            }
	        &:first-child {
	            a {
	                border-top: none;
	            }
	        }
        }
    }
    .sub-category {
        max-height: 0;
        overflow: hidden;
        @include transition(max-height 0.4s ease-in-out);
        &.active {
            max-height: 500px;
            height: auto;
        }
        li {
            background: lighten($c-secondary-light, 8%);
            a {
                font-size: 12px;
                padding-left: 24px;
            }
        }
    }
}

.side-bar-links {
	margin-bottom: 30px;
}

.link-icon {
    font-weight: 300;
    display: block;
    font-size: 24px;
    line-height: 2.5;
    text-align: left;
    border-top: 1px solid $c-secondary-light;
    padding-left: 20px;
    &:first-of-type {
        border-top: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:before {
        font-size: 110%;
        margin-right: 8px;
        vertical-align: middle;
    }
    @extend .directicon;
    &.confused {
		@extend .directicon;
		@extend .directicon-question-mark;
	}
    &.measuring {
		@extend .directicon;
		@extend .directicon-measuring-tape;
	}
    &.install {
		@extend .directicon;
		@extend .directicon-cable;
	}
    &.quote {
		@extend .directicon;
		@extend .directicon-pound-speech;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.side-nav {
		li {
			a {
				font-size: 12px;
			}
		}
	}
	.link-icon {
		font-size: 14px;
	    line-height: 2.6;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#side-nav {
		li {
			a {
				font-size: 13px;
				line-height: 17px;
			}
		}
	}
	.link-icon {
		font-size: 19px;
	    line-height: 2.5;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
}