// =====================
// Button
// =====================
@mixin button(
		$button-colour: $c-primary-medium,
		$text-colour: $c-white,
		$height: 36px,
		$hover-colour: null) {

	@if $hover-colour == null {
		$hover-colour: shade($button-colour, 15%);
	}
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px 0 9px;
    margin-right: 14px;
    background-color: $button-colour;
    color: $text-colour;
    font-size: 12px;
    font-weight: 300;
    line-height: $height;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: visible;
    z-index: 1;
    &:hover,
    &:focus,
    &:active {
        color: $text-colour;
        text-decoration: none;
        background-color: $hover-colour;
        cursor: pointer;
        &:after {
        	border-left-color: $hover-colour;
        }
    }
    &:after {
    	content: ' ';
    	height: 0;
    	width: 0;
		right: -#{$height/2.5};
		top: 0px;
		position: absolute;
    	border-top: #{$height/2} solid transparent;
    	border-bottom: #{$height/2} solid transparent;
    	border-left: #{$height/2.5} solid $button-colour;
    }
}

// Change the colour of an existing button
@mixin button-colour($button-colour, $text-colour, $hover-colour: null, $hover-text-colour: null) {

	@if $hover-colour == null {
		$hover-colour: darken($button-colour, 5%);
	}

	@if $hover-text-colour == null {
		$hover-text-colour: lighten($text-colour, 5%);
	}

	background-color: $button-colour;
	color: $text-colour;
	&:after {
		border-left-color: $button-colour;
	}
	&:hover,
    &:focus,
    &:active {
        color: $hover-text-colour;
        background-color: $hover-colour;
        cursor: pointer;
        &:after {
        	border-left-color: $hover-colour;
        }
    }
}