@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

@mixin h-and-v-central(){
    top:50%;
    left:50%;
    position: absolute;
    @include translate(-50%, -50%);
}

@mixin v-central(){
    top:50%;
    position: absolute;
    @include translate(0%, -50%);
}

@mixin vertical-align(){
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-center($x: 0){
    display: block;
    margin: $x auto;
}

@mixin add-divider-before($num: 1){
    $start: $num + 1;
    &:nth-of-type(#{num}n+#{start}) {
        display: block;
        clear: both;
    }
}

// Guarded mixins to set trim value and nth-child
// selector start number for column layout
@mixin set-trim-values($num) {
	@if $num == 2 { $trim-value: 12 !global; }
	@if $num == 3 { $trim-value: 16 !global; }
	@if $num == 4 { $trim-value: 18 !global; }
	@if $num == 5 { $trim-value: 20 !global; }
}

// Creates multi column layout for all media break points, simply pass
// through the number of columns you want to create
@mixin create-column($num-cols){
    @include set-trim-values($num-cols);
    display:inline-block;
    vertical-align:top;
    @include media-value(width, 100%, 100%, ($col-width-main-sm / $num-cols) - $trim-value, ($col-width-main-md / $num-cols) - $trim-value, ($col-width-main-lg / $num-cols) - $trim-value);
    @include media-value(margin-right, 0, 0, 20px, 20px, 20px);

    @media(min-width: $screen-xs-max) {
        &:nth-of-type(#{num-cols}n+#{num-cols}){
            margin-right: 0;
        }
    }
}

// Generate the extra small bootstrap columns
@mixin make-mob-column($columns, $gutter: $grid-gutter-width){
    position: relative;
    float: left;
    width: percentage(($columns / $grid-columns));
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    @media (max-width: $media-mobile) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

// Outputs a single css attribute for all media query breakpoints
@mixin media-value($attribute, $mob, $xs, $sm, $md, $lg){
    @media (max-width: $media-mobile) {
        #{attribute}: $mob;
    }
    @media (min-width: $screen-xs-min) {
        #{attribute}: $xs;
    }
    @media (min-width: $screen-sm-min) {
        #{attribute}: $sm;
    }
    @media (min-width: $screen-md-min) {
        #{attribute}: $md;
    }
    @media (min-width: $screen-lg-min) {
        #{attribute}: $lg;
    }
}

//Media Query Return Size Function
@mixin return-size ($size) {
	@if $size == mob {
		$media-dev: max-width;
		$measurement: $media-mobile;
	}
	@if $size == xs {
		$media-dev: max-width;
		$measurement: $screen-xs-max;
	}
	@if $size == sm {
		$media-dev: min-width;
		$measurement: $screen-sm-min;
	}
	@if $size == md {
		$media-dev: min-width;
		$measurement: $screen-md-min;
	}
	@if $size == lg {
		$media-dev: min-width;
		$measurement: $screen-lg-min;
	}
}

//Font Size Media Improvement
@mixin font-size-media($size, $font-size, $multipler: 1.5){
    @include return-size($size);
    @media (#{"#{media-dev}:#{measurement}"}){
        @include font-size($font-size, $multipler);
    }
}

// Generates font-size and line-height in REMs and PX values.
@mixin font-size($font-size: 16, $multiplier: 1.5){
    $pxFontValue: ($font-size / 10);
    $pxLineValue: ($font-size / 10 * $multiplier);
    font-size: $font-size * 1px;
    line-height: $font-size * $multiplier * 1px;
    font-size: #{"#{pxFontValue}rem"};
    line-height: #{"#{pxLineValue}rem"};
}

@mixin line-height($font-size, $multiplier: $line-height-base){
    line-height: floor(($font-size * $multiplier));
}

@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25)){
	text-shadow: $string;
}
@mixin box-shadow($string){
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}
@mixin drop-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25){
	-webkit-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:		$x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25){
	-webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing($type: border-box){
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius($radius: 5px){
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0){
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity($opacity: 0.5){
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}

@mixin gradient($startColor: #eee, $endColor: white){
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient($startColor: #eee, $endColor: white){
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation($name, $duration: 300ms, $delay: 0, $ease: ease){
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
            transform: $transforms;
}
@mixin scale($factor){
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
}
@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
}
@mixin skew($deg, $deg2){
	-webkit-transform:       skew($deg, $deg2);
	-moz-transform: 	 skew($deg, $deg2);
	-ms-transform: 		 skew($deg, $deg2);
	-o-transform: 		 skew($deg, $deg2);
}
@mixin translate($x, $y:0){
	-webkit-transform:       translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d($x, $y: 0, $z: 0){
	-webkit-transform:       translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective($value: 1000){
	-webkit-perspective: 	$value;
	-moz-perspective: 	$value;
	-ms-perspective: 	$value;
	perspective: 		$value;
}
@mixin transform-origin($x:center, $y:center){
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}

@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin determine-margin ($float) {
	@if $float == left { margin: $margin $margin 0 0; }
	@if $float == right { margin: 0 0 $margin $margin; }
}

@mixin text-wrap-image($float: right, $width: 40%, $margin: 20px){
    @include determine-margin($float);
    float: $float;
    width: $width;
}