@mixin price-value($font-size: 34px) {
	$pence-size: $font-size / 2;
	$vat-size: $font-size / 4 + 1;

	.price-value {
		strong {
	    	font-size: $font-size;
			line-height: 0.75;
	    }
	    div {
	        .pence {
	        	font-size: $pence-size;
	        }
	        .vat {
	        	font-size: $vat-size;
	        }
	    }
	}
}

@mixin price-block($font-size: 34px) {
	$from-size: $font-size / 2.7;
	$pence-size: $font-size / 2;
	$vat-size: $font-size / 4 + 1;

	.price-block {
		.from {
			font-size: $from-size;
		}
		.price-value {
			strong {
		    	font-size: $font-size;
				line-height: 0.75;
		    }
		    div {
		        .pence {
		        	font-size: $pence-size;
		        }
		        .vat {
		        	font-size: $vat-size;
		        }
		    }
		}
	}
}