.ekmps-search-field {
  border: 1px solid #A7A9AB;
}

.ekmps-search-button {
  background: #A7A9AB;
}

.minicart-icon {
  fill: #469be6;
}

.product-item-price {
  font-size: 2.4rem;
}

.product-item-rrp {
  font-size: 1.5rem;
}

@media only screen and (max-width: 979px) and (min-width: 0px) {
  .logo img {
    max-width: 22rem;
  }
}

/*# sourceMappingURL=style.css.map */
