.accordion{
    .heading{
        font-weight: 400;
    }
    .active + .content{
        max-height: 750px;
    }
    .content{
        max-height: 0px;
        overflow: hidden;
        @include transition(max-height 0.5s cubic-bezier(0.18, 0.89, 0.31, 1.06));
    }
}

#why-use-us-accordion{
	margin-top: -4px;
    .heading{
        margin: 0;
        font-size: 20px;
        line-height: 2.5;
        border-bottom: 1px solid $c-border;
        .active {
            color: $c-primary-medium;
            border-bottom: 1px solid $c-primary-medium;
            cursor: pointer;
        }
    }
    .section-header-image {
        width: 100%;
        margin-bottom: 20px;
    }
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#why-use-us-accordion{
		margin-top: -13px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#why-use-us-accordion{
		font-size: 22px;
		margin-top: -15px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#why-use-us-accordion{
		font-size: 25px;
		line-height: 2.3;
		margin-top: -17px;
	}
}
