#breadcrumb {
    display: none;
    padding-left: 10px;
    a {
        display: inline-block;
        margin-right: 4px;
        margin-left: 4px;
        text-transform: lowercase;
        font-size: 12px;
        line-height: 2.2;
        font-weight: 100;
    }
    > span:nth-last-of-type(1) span{
        color: $c-primary-medium;
    }
}
// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#breadcrumb {
		margin-top: -20px;
		a {
			line-height: 3.2;
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#breadcrumb {
		display: block;
		a {
			font-size: 13px;
        	line-height: 2.8;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#breadcrumb {
		a {
			font-size: 14px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#breadcrumb {
		a {
			font-size: 15px;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#breadcrumb {
		a {
		}
	}
}