.button {
	@include button($c-primary-medium, $c-white);
}

// // =========================
// //  Extra Small Breakpoint
// // =========================
// @include bp(min-width, $bp-xsmall + 1) {
// 	.button {
// 		@include button($c-primary-medium, $c-white, 28px);
// 	}
// }

// // =========================
// //  Small Breakpoint
// // =========================
// @include bp(min-width, $bp-small + 1) {
// 	.button {
// 		@include button($c-primary-medium, $c-white, 32px);
// 	}
// }

// // =========================
// //  Medium Breakpoint
// // =========================
// @include bp(min-width, $bp-medium + 1) {
// 	.button {
// 		@include button($c-primary-medium, $c-white, 34px);
// 	}
// }

// // =========================
// //  Large Breakpoint
// // =========================
// @include bp(min-width, $bp-large + 1) {
// 	.button {
// 		@include button($c-primary-medium, $c-white, 40px);
// 	}
// }

// // =========================
// //  Extra Large Breakpoint
// // =========================
// @include bp(min-width, $bp-xlarge + 1) {
// 	.button {
// 		@include button($c-primary-medium, $c-white, 46px);
// 	}
// }
.hbutton {
    padding: 9px 3px 11px 9px;
    position: relative;
    font-size: 12px;
    background-color: white;
    color: $c-secondary-dark;
    overflow: visible;
    display: inline-block;
    text-transform: uppercase;
    z-index: 1;
    &:after {
    	content: ' ';
    	height: 0;
    	width: 0;
		right: -15px;
		top: 0px;
		position: absolute;
    	border-top: 17px solid transparent;
    	border-bottom: 17px solid transparent;
    	border-left: 15px solid $c-secondary-dark;
    }

    // &:before,
    // &:after {
    //     width: 50%;
    //     height: 50%;
    //     position: absolute;
    //     content: "";
    //     background-color: $c-white;
    //     z-index: -1;
    // }

    // &:before {
    //     top: 0;
    //     transform: skew(40deg,0);
    //     -webkit-transform: skew(30deg,0);
    //     content:'';
    //     right:-10px;
    // }

    // &:after {
    //     top: 49.9%;
    //     transform: skew(-40deg,0);
    //     -webkit-transform: skew(-30deg,0);
    //     content:'';
    //     right:-10px;
    // }
    &:hover {
        color: $c-primary-medium;
    }
    &.brand {
        color: $c-primary-medium;
        &:hover {
            color: $c-secondary-dark;
        }
    }
    &.filled {
        font-weight: 100;
        background-color: $c-secondary-dark;
        // &:before,
        // &:after {
        //     background-color: $c-secondary-dark;
        // }
        color: #FFFFFF;
        // &:after {
        //     color: $c-primary-medium;
        // }
        &:hover {
            background-color: $c-primary-medium;
            color: white;
            // &:before, &:after {
            //     background-color: $c-primary-medium;
            // }
            // &:after {
            //     color: white;
            // }
        }
        &.brand {
            background-color: $c-primary-medium;
            // &:before,
            // &:after {
            //     background-color: $c-primary-medium!important;
            // }
            &:hover {
                color: $c-white;
                background-color: $c-secondary-dark;
                // &:before,
                // &:after {
                //     background-color: $c-secondary-dark!important;
                // }
            }
        }
    }
    &.conf{
        display: block;
        vertical-align: middle;
    }
}
