#category-headers {
	margin-bottom: 20px;
}

.move-to-main {
	height: 0;
	overflow: hidden;
}

.category-panel-container {
	font-size: 0;
}
.category-panel {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $c-secondary-light;
    width: 100%;
    .image-container {
    	margin-bottom: 10px;
        a {
            display:block;
        }
        img {
            width: 100%;
        }
    }
    .content-container {
        .description {
        	min-height: 100px;
        	margin-bottom: 10px;
            h3 {
            	font-size: 18px;
            	line-height: 1;
                color: $c-secondary-dark;
            }
            p {
            	&:last-of-type {
            		margin-bottom: 0;
            	}
            }
        }
        .price-container {
        	@include price-block(48px);
        }
    }
    .button {
    	float: right;
    	margin-top: -40px;
    }
}

.category-panel-small{
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
    //@include make-xs-column(4);
    .image-container {
    	min-height: auto;
        img {
            width: 100%;
        }
    }
    .description h3{
        color: $c-text;
    }
    .price-block .price-value strong:before {
        margin-left: 0;
    }
    //@include make-xs-column(12);
    border-bottom: 1px solid $c-secondary-light;
    width: 100%;
    .image-container {
        //@include make-xs-column(12);
        margin-bottom: 20px;
    }
    .content-container {
        //@include make-xs-column(12);
        .price-block,
        .button {
            display: inline-block;
            vertical-align: middle;
            width: 49%;
            margin: 0;
        }
    }
}

.category-heading {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    p {
        margin: 0;
        padding: 0;
    }
    p strong {
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 20px;
        display:block;
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.category-panel-small{
	    .image-container {
			//@include make-xs-column(12);
	        border-bottom: 1px solid $c-secondary-light;
	        width: 100%;
	        .image-container {
	            //@include make-xs-column(6);
	            margin-bottom: 0;
	        }
	        .content-container {
	            //@include make-xs-column(6);
	            .price-block {
	                margin-top: 30px;
	            }
	        }
	    }
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.hero-categories {
		.category-panel {
			display: inline-block;
			vertical-align: top;
            width: 46%;
            border-bottom: 1px solid $c-secondary-light;
            margin-right: 4%;
	        &:nth-of-type(2) {
	        	margin-right: none;
	        }
		    .image-container {
				min-height: 154px;
		    }
		    .content-container {
		        .description {
		        	min-height: 210px;
		        	h3 {
		            	line-height: 1.2;
		            	margin-bottom: 10px;
		            }
		        }
		    }
		}
	}
	.sub-categories {
		.category-panel {
			width: calc(33% - 20px);
			margin-right: 20px;
			display: inline-block;
			vertical-align: top;
	        &:last-of-type {
	        	margin-right: none;
	        }
	        .price-container {
	        	@include price-block(26px);
	        }
		    .image-container {
				min-height: 154px;
		    }
		    .content-container {
		        .description {
		        	min-height: 210px;
		        	h3 {
		            	line-height: 1.2;
		            	margin-bottom: 10px;
		            }
		        }
		    }
	        .price-container {
	        	@include price-block(42px);
	        	.price-block {
	        		margin-bottom: 20px;
	        	}
	        }
		    .button {
		    	clear: both;
		    	float: none;
		    	margin-top: 0
		    }
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.category-panel {
	    .content-container {
	        .description {
	        	h3 {
	            	font-size: 16px;
	            }
	        }
	    }
	}
	.category-panel-small{
	    .image-container {
			min-height: 200px;
	    }
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.category-panel {
	    .image-container {
			min-height: 250px;
	    }
	    .content-container {
	        .description {
	        	min-height: 180px;
	        	h3 {
	            	font-size: 20px;
	            	line-height: 1.8;
	            }
	        }
	    }
	}
	.sub-categories {
		.category-panel {
		    .price-container {
	        	.price-block {
	        		margin-bottom: 0;
	        	}
	        }
		    .button {
		    	clear: none;
		    	float: right;
		    	margin-top: -40px
		    }
		}
	}
	.category-panel-small{
	    .image-container {
			min-height: 250px;
	    }
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}