#category-organiser {
    .ekm-edit-button-wrapper {
        display: inline-block !important;
        margin-right: 10px !important;
    }
    margin-top: 30px;
    a {
        display: inline-block;
    }
    ul {

    }
    li {
        display: block;
    }
    .tier-3 {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    .tier-1 {
        max-height: auto;
        font-size: 20px;
        line-height: 36px;
        & > ul > li {
            display: inline-block;
            width: 49%;
            vertical-align: top;
        }
    }

    .tier-2 {
        margin-left: 20px;
        font-size: 16px;
        line-height: 27px;
    }

    .tier-3 {
        &.open {
            max-height: 380px;
            margin-bottom: 20px;
        }
        margin-left: 20px;
        li {
            font-size: 14px;
            line-height: 24px;
            font-style: italic;
       }
    }
}