#contact-container {
	font-size: 0;
}

#contact-map-container {
    padding: 10px;
    border: 1px solid $c-secondary-light;
    margin-bottom: 20px;
    height: 300px;
}

#contact-map {
    height: 100%;
    width: 100%;
}

#contact-form {
    width: 100%;
    margin-bottom: 20px;
    label {
        display: block;
    }
    input[type="text"],
    textarea,
    #recaptcha_widget_div {
        width: 100%;
        margin-bottom: 20px;
    }
    textarea {
    	height: 60px;
    }
    button {
        @include button();
        border: none;
    }
	.captcha-details {
		margin-bottom: 20px;
		overflow: hidden;
		label {
			display: none;
		}
	}
}

.ekm-formmail {
    margin-top: 30px;
    margin-left: 20px;
    .ekm-formmail-message {

    }
    .ekm-formmail-back {
        a {
            @extend .button;
	        @extend .button, .filled;
        }
    }
}

.contact-methods {
    clear: both;
    border-top: 1px solid #e3e3e3;
    list-style: none;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    li {
        width: 100%;
        display: block;
        text-align: center;
        vertical-align: top;
	    margin-bottom: 20px;
        tel {
        	margin-bottom: 10px;
            &:before {
                vertical-align: bottom;
            }
        }
        p, address {
        	margin: 0;
            a {
                display: block;
                color: $c-primary-medium;
            }
        }
    }
}


// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.contact-methods {
		li {
			p,
			address {
				font-size: 14px;
			}
			a {
				font-weight: 500;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#contact-map-container {
		height: 410px;
	}
	.contact-methods {
		li {
			tel {
				font-size: 20px;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#contact-form-container,
	#contact-map-container {
		display: inline-block;
		vertical-align: top;
	}
	#contact-form-container {
		width: calc(45% - 20px);
		margin-right: 20px;
	}
	#contact-map-container {
		width: 55%;
	}
	.contact-methods {
		li {
			display: inline-block;
			vertical-align: middle;
	        width: 33%;
	        padding: 0 5px;
	        margin-bottom: 0;
		}
	}
}
