//
// Directicon
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="directicon directicon-star"></span> Star</a>


$icomoon-font-family: "directicon" !default;
$icomoon-font-path: "https://www.theunderfloorheatingstore.com/media/ufhd/font" !default;

$directicon-pencil: "\61"; 						// a
$directicon-measuring-tape: "\62";				// b
$directicon-secure-cart: "\63";					// c
$directicon-layers: "\64";						// d
$directicon-pound-speech: "\65";				// e
$directicon-question-mark: "\66";				// f
$directicon-tick: "\67";						// g
$directicon-cable: "\68";						// h
$directicon-truck: "\69";						// i
$directicon-telephone: "\6a";					// j
$directicon-padlock: "\6b";						// k
$directicon-cart-circle: "\6c";					// l
$directicon-cube: "\6d";						// m
$directicon-cart: "\6e";						// n
$directicon-chevron-left: "\6f";				// o
$directicon-chevron-right: "\70";				// p
$directicon-celcius: "\71";						// q
$directicon-hard-hat: "\72";					// r
$directicon-ticked-list: "\73";					// s
$directicon-cross: "\74";						// t
$directicon-cross-circle: "\75";				// u
$directicon-pound-tick: "\76";					// v
$directicon-hamburger: "\77";					// w
$directicon-contained-layers: "\78";			// x
$directicon-contained-water-system: "\79";		// y
$directicon-contained-electric-system: "\7a";	// z
$directicon-contained-circles: "\31";			// 1


// Import the fonts
@font-face {
  font-family: "#{$icomoon-font-family}";
  src:url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot");
  src:url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?#iefix") format("embedded-opentype"),
      url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r11yb9") format("woff"),
      url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r11yb9") format("truetype"),
      url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r11yb9##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Catchall baseclass
.directicon:before,
[class^="directicon-"],
[class*=" directicon-"] {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	font-family: '#{$icomoon-font-family}' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Individual icons
.directicon-question-mark       		{ &:before { content: $directicon-question-mark; } }
.directicon-secure-cart         		{ &:before { content: $directicon-secure-cart; } }
.directicon-measuring-tape      		{ &:before { content: $directicon-measuring-tape; } }
.directicon-pound-speech        		{ &:before { content: $directicon-pound-speech; } }
.directicon-telephone           		{ &:before { content: $directicon-telephone; } }
.directicon-padlock             		{ &:before { content: $directicon-padlock; } }
.directicon-cart-circle         		{ &:before { content: $directicon-cart-circle; } }
.directicon-cube                		{ &:before { content: $directicon-cube; } }
.directicon-cart                		{ &:before { content: $directicon-cart; } }
.directicon-chevron-left        		{ &:before { content: $directicon-chevron-left; } }
.directicon-chevron-right       		{ &:before { content: $directicon-chevron-right; } }
.directicon-celcius             		{ &:before { content: $directicon-celcius; } }
.directicon-hard-hat            		{ &:before { content: $directicon-hard-hat; } }
.directicon-pencil              		{ &:before { content: $directicon-pencil; } }
.directicon-pound-tick          		{ &:before { content: $directicon-pound-tick; } }
.directicon-tick                		{ &:before { content: $directicon-tick; } }
.directicon-cable               		{ &:before { content: $directicon-cable; } }
.directicon-ticked-list         		{ &:before { content: $directicon-ticked-list; } }
.directicon-truck               		{ &:before { content: $directicon-truck; } }
.directicon-cross               		{ &:before { content: $directicon-cross; } }
.directicon-cross-circle        		{ &:before { content: $directicon-cross-circle; } }
.directicon-hamburger 					{ &:before { content: $directicon-hamburger; } }
.directicon-contained-layers			{ &:before { content: $directicon-contained-layers; } }
.directicon-contained-water-system		{ &:before { content: $directicon-contained-water-system; } }
.directicon-contained-electric-system	{ &:before { content: $directicon-contained-electric-system; } }
.directicon-contained-circles			{ &:before { content: $directicon-contained-circles; } }