// EKM Classes
.ekmpscart-header {
	.ekmpscart-title {
		margin-bottom: 20px !important;
	}
}
.ekm-edit-button-wrapper {
    pointer-events:none
}
.ekm-edit-button-wrapper * {
    pointer-events:all;
}
.ekmpscart-wrapper {
	margin-top: 20px;
}
.ekmpscart-cart-items-product-name {
	a {
		color: $c-text !important;
	}
}
.ekmpscart-cart-items-product-action-remove {
	color: $c-primary-medium !important;
}
.ekmpscart-checkout-button {
	background-color: $c-primary-medium !important;
}
.ekmpscart-cart-items-column-header {
	background-color: $c-secondary-light !important;
}
.ekmpscart-checkout-button-continue {
	background: $c-secondary-dark !important;
	a {
		color: $c-white !important;
	}
}
[data-showdata-type="searchresults"] {
	.item-layout-header {
		margin-bottom: 20px;
		.search-results {
			margin-top: 10px;
		}
	}
	.item {
		padding: 20px;
		border: 1px solid $c-border;
		margin-bottom: 20px;
		img {
			margin: 0 auto;
		}
	}
	.item-image {
		a {
			display: block;
		}
	}
	.item-info {
		a {
			display: block;
		}
		.item-name {
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 20px;
			line-height: 22px;
		}
		.item-price {
			font-size: 28px;
			color: $c-primary-medium;
			font-weight: 600;
			&:before {
				content: 'price';
				color: $c-text;
				font-size: 18px;
				display: block;
			}
		}
		.item-rrp {
			font-size: 20px;
			float: right;
			margin-top: -40px;
			&:before {
				font-weight: 600;
				content: 'rrp';
				color: $c-text;
				font-size: 18px;
				display: block;
			}
		}
		.arrow-right {

		}
	}
}

#advanced-search-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid $c-secondary-light;
    tr {
        display: inline-block;
        width: 50%;
        @media(max-width: $screen-xs-max) {
            display: block;
            width: 100%;
        }
    }
    td {
    	font-size: 12px;
    	border: none;
    	line-height: 15px;
    	padding: 8px 4px;
    }
    input[type="checkbox"],
    input[type="text"] {
        line-height: 14px;
    }
    .section-sub-title {
        width: 100%;
        margin-top: 20px;
        &:first-of-type {
            margin-top: 0;
        }
        strong {
            display: block;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

}

#search-results {
    width: 100%;
    td {
    	font-size: 14px;
    	border: none;
    	line-height: 18px;
    }
    tr {
        margin-bottom: 20px;
        border: 1px solid $c-border;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        &:hover {
            border-color: $c-secondary-light;
        }
    }
    a {
        display: block;
    }
    span {
        margin-top: 20px;
        color: $c-primary-medium;
    }
    .search-image {
        width: 100px;
        text-align: center;
    }
}

#search-pagination {
    td {
        padding: 20px 0;
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#advanced-search-form {
		padding: 20px;
		& > table {
			margin-bottom: 0;
		}
	}
	#search-results {
		tr {
			width: calc(50% - 20px);
			margin-right: 20px;
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#advanced-search-form {
		td {
			font-size: 13px;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#advanced-search-form {
		td {
			font-size: 14px;
		}
	}
	#search-results {
		tr {
			width: calc(33.333% - 20px);
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#search-results {
		tr {
			width: calc(25% - 20px);
		}
	}
}
