%common-form-styles {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	margin-bottom: 10px;
	border: 1px solid $c-border;
	color: $c-text;
	background-color: $c-white;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	&:focus {
		border-color: lighten($c-border, 10%);
		outline: 0;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
}
textarea:focus,
input:focus,
button:focus {
    outline: 0;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
	@extend %common-form-styles;
}
textarea{
    resize: none;
}
label{
    font-weight:400;
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
}
select {
	@extend %common-form-styles;
	display: block;
	width: 100%;
	background-image: none;
	@include transition("border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}