#homepage-hero-panels {
	font-size: 0;
	.product-panel {
		h2{
			font-size: 18px;
			line-height: 20px;
			position: relative;
			z-index: 5;
			& > span {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 70px);
				&.with-icon {
					width: 60px;
				}
			}
		}
		.price-block {
			margin-top: 0;
			margin-bottom: 10px;
		}
		.ufhd-logo {
			max-width: 90%;
		}
		.image-block {
			height: 250px;
			img {
				margin: 0 auto;
			}
		}
		.button {
			margin-bottom: 10px;
		}
	}
}

.homepage-sub-product-panels {
	margin-bottom: 20px;
	border: 1px solid $c-border;
	padding: 0 20px;
	.button {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
		display: block;
		margin: 0;
		padding: 0;
		border: none;
	}
	ul {
		list-style: none;
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		border-top: 1px solid $c-border;
		padding: 20px 0;
		&:nth-of-type(1){
			border-top: 0;
		}
	}
	h2 {
		margin: 0 0 10px 0;
		font-size: 19px;
		line-height: 22px;
	}
	img {
		max-height: 130px;
		max-width: 80%;
		margin: 0 auto;
	}
	p {
		margin: 15px 0;
		color: $c-primary-medium;
		font-size: 14px;
		strong {
			font-weight: 900;
			font-size: 24px;
		}
	}
	.button {
		@include button-colour($c-secondary-medium, $c-white);
	}
}

#link-panels {
	font-size: 0;
}

// Mixins to keep the below assignments DRY
// ---------------------------------------------------
@mixin link-panel-colour($colour, $background) {
	a {
		color: $colour;
		background-color: $background;
	}
}
@mixin link-panel-icon($icon) {
	h3 {
		span {
			@extend .directicon;
			@extend #{$icon};
		}
	}
}
// ---------------------------------------------------

.link-panel {
	text-align: left;
	margin-bottom: 20px;
	a {
		display: block;
		overflow: hidden;
	}
	h3 {
		color: $c-white;
		font-weight: 100;
		font-size: 24px;
		line-height: 1;
		margin: 10px 0;
		span {
			font-size: 33px;
			vertical-align: text-bottom;
			margin: 0 10px 0 12px;
		}
	}
	p {
		margin-bottom: 0;
		color: $c-white;
		font-weight: 300;
	}
	img {
		width: 100%;
	}
	.copy-container {
		padding: 10px 14px 14px 14px;
		overflow: hidden;
	}
	.description {
		margin-bottom: 10px;
	}
	.button {
		float: right;
		margin-right: 10px;
		z-index: 3;
		font-weight: 500;
		@include button-colour($c-white, $c-primary-medium, $c-primary-medium, $c-white);
	}
	&.confused {
		@include link-panel-colour($c-white, $c-secondary-dark);
		@include link-panel-icon('.directicon-question-mark');
	}
	&.measuring-up {
		@include link-panel-colour($c-secondary-dark, $c-primary-light);
		@include link-panel-icon('.directicon-measuring-tape');
		h3 {
			color: $c-secondary-dark;
		}
		p {
			color: $c-text;
			font-weight: normal;
		}
	}
	&.how-to-install {
		@include link-panel-colour($c-white, $c-secondary-dark);
		@include link-panel-icon('.directicon-cable');
	}
	&.request-a-quote {
		@include link-panel-colour($c-white, $c-primary-medium);
		@include link-panel-icon('.directicon-pound-speech');
		.button {
			@include button-colour($c-white, $c-primary-medium, $c-secondary-medium, $c-white);
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#homepage-hero-panels {
		.product-panel {
			.price-block {
				margin-bottom: 20px;
			}
			h2 {
				font-size: 22px;
				margin-bottom: 0;
			}
			.button {
				margin-bottom: 20px;
			}
		}
	}
	.homepage-sub-product-panels {
		padding: 0;
		li {
			width: 50%;
			&:nth-of-type(2n){
				border-left: 1px solid $c-border;
			}
			&:nth-of-type(2) {
				border-top: none;
			}
		}
	}
	.link-panel {
		display: inline-block;
		vertical-align: top;
		width: calc(50% - 10px);
		margin-right: 20px;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
		h3 {
			font-size: 18px;
			line-height: 21px;
			span {
				font-size: 25px;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#homepage-hero-panels {
		.product-panel {
			h2 {
				font-size: 18px;
			}
			@include price-block(36px);
			.price-block {
	        	margin-top: 10px;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#homepage-hero-panels {
		.product-panel {
			width: calc(50% - 10px);
			margin-right: 20px;
			display: inline-block;
			vertical-align: top;
			&:nth-of-type(2) {
				margin-right: 0;
			}
			h2 {
				font-size: 19px;
				.with-icon:before {
					height: 48px;
				}
			}
			.image-block {
				height: 250px;
			}
        	@include price-block(38px);
			.price-block {
	        	margin-bottom: 20px;
			}
			.button {
				font-size: 14px;
			}
		}
	}
	.homepage-sub-product-panels {
        li {
        	width: 25%;
        	border-top: none;
        	&:nth-of-type(n) {
        		border-left: 1px solid $c-border;
        	}
        	&:nth-of-type(1) {
        		border-left: none;
        	}
    	}
    	h2 {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
    	}
    	img {
            max-width: 80%;
        }
        .button {
        	font-size: 14px;
        }
	}
	.link-panel {
		width: calc(25% - 15px);
		margin-bottom: 0;
		&:nth-of-type(n) {
			margin-right: 20px;
		}
		&:nth-of-type(4) {
			margin-right: 0;
		}
		h3 {
			font-size: 14px;
			line-height: 0.68;
			span {
				font-size: 25px;
			}
		}
		p {
			font-size: 12px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#homepage-hero-panels {
		.product-panel {
			h2 {
				font-size: 25px;
			}
			.price-block {
	        	margin-top: 20px;
			}
			.image-block,
			.button-block {
				display: inline-block;
				vertical-align: top;
			}
			.image-block {
				width: calc(70% - 20px);
				margin-right: 20px;
				height: 240px;
			}
			.button-block {
				width: 30%;
			}
			.button {
				margin-top: 0;
				float: none;
			}
		}
	}
	.homepage-sub-product-panels {
		img {
			max-height: 170px;
		}
	}
	.link-panel {
		h3 {
			font-size: 20px;
			padding: 4px 0;
			line-height: 0.88;
			span {
				font-size: 25px;
			}
		}
		p {
			font-size: 14px;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#homepage-hero-panels {
		.product-panel {
        	@include price-block(44px);
			.price-block {
	        	margin-top: 20px;
			}
			.image-block {
				width: calc(70% - 20px);
				margin-right: 20px;
				height: 300px;
			}
		}
	}
}