ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
    }
}
ol.numeric {
    counter-reset: item;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 2px;
    & > li {
        padding-left: 26px;
        padding-bottom: 12px;
        font-size: 13px;
	    line-height: 17px;
        &:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: $c-primary-medium;
            margin-left: -27px;
            margin-right: 6px;
            width: 20px;
            display: inline-block;
        }
        ul {
        	margin-top: 10px;
        }
    }
}
ul.arrow {
    margin-left: 20px;
    margin-bottom: 10px;
    li {
        padding-bottom: 1%;
        text-indent: -0.7em;
        @extend .directicon;
        @extend .directicon-chevron-right;
        &:before {
            color: $c-primary-medium;
            width: 0.7em;
        }
    }
}
ul.tick {
    margin-bottom: 10px;
    li {
        padding-bottom: 10px;
        padding-left: 26px;
        @extend .directicon;
        @extend .directicon-chevron-right;
        &:before {
            color: $c-primary-medium;
            width: 15px;
            margin-right: 6px;
            margin-left: -22px;
        }
    }
}
ul.faq {
    margin-bottom: 10px;
    li:nth-of-type(odd) {
        padding-bottom: 10px;
        padding-left: 26px;
        &:before {
            @extend .directicon;
            content: '\e034';
            color: #0f0;
            width: 15px;
            margin-right: 6px;
            margin-left: -22px;
        }
    }
    li:nth-of-type(even) {
        padding-bottom: 10px;
        padding-left: 26px;
        &:before {
            @extend .directicon;
            content: '\e013';
            color: #f00;
            width: 15px;
            margin-right: 6px;
            margin-left: -22px;
        }
    }
}
ul.orange {
    margin-bottom: 20px;
    li {
        padding-bottom: 1%;
        padding-left: 12px;
        margin-bottom: 8px;
        &:before {
            content: '\2022';
            font-weight: bold;
            font-size: 14px;
            padding-right: 6px;
            color: $c-primary-medium;
            margin-left: -12px;
        }
    }
}

li > h4 {
    display: inline-block;
    color: $c-text;
    font-size: 13px;
    font-weight: 600;
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	li > h4 {
		font-size: 14px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	li > h4 {
		font-size: 15px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	li > h4 {
		font-size: 16px;
	}
}