#mini-cart-container {
	position: absolute;
	right: 0;
	display: inline-table;
	padding: 7px 0 0 0;
	top: 0;
	bottom: 0;
	width: 100px;
	background: $c-secondary-dark;
	& > a {
		font-size: 12px;
		display: block;
		padding: 0 12px 0 10px;
		color: $c-white;
	}
}

#minicart_item_count {
    position: absolute;
    top: 4px;
    left: 60px;
    background: $c-primary-medium;
    @include border-radius(11px);
    font-size: 11px;
    color: $c-white;
    width: 22px;
    line-height: 22px;
    text-align: center;
    z-index: 1000;
}

#icon-cart {
    width: 40px;
    height: 40px;
}

#mini-cart {
    color: $c-white;
    position: absolute;
    padding: 7%;
    top: 29px;
    right: 0;
    min-width: 320px;
    max-width: 600px;
    background: $c-secondary-dark;
    overflow: hidden;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
    max-height: 600px;
    z-index: 1000;
    h2 {
        font-weight: bold;
        font-size: 16px;
        color: $c-white;
        padding: 12px 18px;
    }
    table {
        margin: 0;
        width: 100%;
    }
    td {
        color: $c-white;
        border: 0px solid #FFF;
        font-size: 12px;
        &:nth-of-type(1) {
            width: 174px;
            padding: 8px 10px 8px 18px;
        }
        &:nth-of-type(2) {
            width: 20px;
            text-align: center;
            padding: 8px 4px;
        }
        &:nth-of-type(3) {
            width: 64px;
            text-align: right;
            padding: 8px 18px 8px 0;
        }
        a {
            color: $c-white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    th {
        padding: 8px 18px;
        color: $c-white;
        font-weight: 500;
        font-size: 12px;
        border: 0px solid #FFF;
        &:nth-of-type(2) {
            text-align: center;
            padding: 8px 4px;
        }
        &:nth-of-type(3) {
            text-align: right;
            padding: 8px 18px 8px 0;
        }
    }
    tr:nth-of-type(2n) {
        background: $c-secondary-medium;
    }
    > a {
        display: block;
        color: $c-white;
        line-height: 40px;
        text-align: right;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        padding-right: 10px;
        @extend .directicon;
        @extend .directicon-chevron-right;
        &:before{
            color: $c-primary-medium;
            float: right;
            line-height: 40px;
            margin-left: 7px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &.hidden {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#mini-cart-total {
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
    display: block;
    padding: 5px 16px;
    margin: 8px 0px;
    border-top: 1px solid $c-secondary-light;
    border-bottom: 1px solid $c-secondary-light;
    strong {
        padding: 0 26px 0 0;
        width: 120px;
        text-transform: uppercase;
    }
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#minicart_item_count {
		display: block;
		left: 66px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#minicart_item_count {
		left: 61px;
		top: -3px;
		font-size: 11px;
	    background: $c-secondary-medium;
	}
	#mini-cart-container {
		width: 100px;
		background: $c-primary-medium;
		display: block;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#mini-cart-container {
		padding: 7px 0 0 14px;
		width: 110px;
	}
	#minicart_item_count {
		left: 73px;
	}
}