body.screened {
    overflow: hidden;
}
.screen{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000;
    &.active{
        display: block;
    }
    .lightbox{
        @include position-absolute($top:50%,$left:50%);
        background: $c-white;
        z-index: 10001;
        #close-button{
            @include position-absolute($top:20px,$right:20px);
            height: 26px;
            width: 26px;
            background:url(../Design/close-button.png) right 0px no-repeat;
            &:hover{
                background-position: right -26px;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

//Modals
#cableCal.lightbox{
    width: 900px;
    height: 655px;
    margin: -325px 0 0 -450px;
    .cableCal-stage1, .cableCal-stage2, .cableCal-stage3 {
        padding-left: 10px;
        line-height:17px;
        text-align:left;
        display:inline-block;
        width:250px;
        height: 299px;
        z-index: 99999;
    }
    .cableCal-stage1 {
        @include position-absolute($top:295px,$left:25px);
    }
    .cableCal-stage2 {
        @include position-absolute($top:295px,$left:325px);
    }
    .cableCal-stage3 {
        @include position-absolute($top:295px,$left:625px);

    }
    .input-parent {
        display:inline-block;
    }
    .input-parent span {
        display:block;
    }
    .input-parent input {
        width:84px!important;
        background: none;
        background-image: none;
        padding: 6px 0 6px 8px;
        border: 1px solid #aaa;
        font-size: 18px;
    }
    .seperator {
        display:inline-block;
        margin: 0 6px;
        color: #bbb;
        font-size:18px;
    }
    .cableCal-stage1 .input-parent,
    .cableCal-stage3 .input-parent{
        margin-top:10px;
    }
    .cableCal-stage1 .input-parent.bottom,
    .cableCal-stage3 .input-parent.bottom{
        margin: 10px 0;
    }
    .cableCal-stage1 .measure-up {
        @include position-absolute($bottom:30px,$left:10px);
    }
    .cableCal-stage1 .measure-up a:after, a[href="/cable-coverage-guide-155-w.asp"]#cable:after{
        content: url("../Design/chevron.jpg");
        position:relative;
        top:4px;
        left:4px;
    }
    .cableCal-stage2 #entries {
        overflow:auto;
        @include position-absolute($top:75px,$left:15px);
        width:235px;
        height:140px;
    }
    .cableCal-stage3 .fitted-area {
        @include position-absolute($bottom:30px,$left:10px);
    }
    .cableCal-stage3 #final-result {
        @include position-absolute($bottom:34px,$left:160px);
        font-size:23px;
        font-weight:bold;
    }
    .disclaimer {
        padding: 10px 10px 11px;
        text-align: center;
    }
    .disclaimer p {
        margin: 0;
        font-size: 12px;
        line-height: 17px;
    }
    #cableCal-add-entry {
        @include position-absolute($bottom:30px,$left:10px);
    }
    #cableCal-add-entry.disabled {
        color: #ccc;
    }
    .cableCal-delete-entry:hover {
        cursor: pointer;
    }
    .cableCal-delete-entry:after {
        width:13px;
        height:13px;
        content: url("../Design/cableCal-del-entry.jpg");
    }
}

//Activators
#cableCal-banner {
    display:block;
    margin:10px 0 5px 0;
    @include drop-shadow;
    &:hover{
        cursor: pointer;
    }
}


