.request-quote-holder {
    width: 100%;
    height: 1900px;
    iframe{
        width:100%;
        height: 100%;
        border: 0px solid #fff;
    }
}

#reviews-wrapper {
	margin-bottom: 20px;
}

#bank-holiday-times {
	margin-bottom: 20px;
	p {
		margin:0 0 6px 0;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.request-quote-holder {
		height: 1450px;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.request-quote-holder {
		height: 1507px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.request-quote-holder {
		height: 1418px;
	}
}
