.panel {
	&:last-child {
		margin-right: 0;
	}
	display: inline-block;
	vertical-align: top;
}

.info-panel {
	@extend .panel;
	display:block;
	padding: 20px;
	border: 1px solid $c-border;
	h2 {
		font-size: 18px;
	}
	p {
		font-size: 12px;
		line-height: 1.6;
	}
	img {
		&.header {
			width: 100%;
			margin-bottom: 16px;
		}
	}
	.content {
		p:last-of-type {
			margin-bottom: 0;
		}
	}
	&:focus,
	&:hover {
		text-decoration: none;
		color: $c-text;
		&[href]{
			border-color: $c-secondary-medium;
		}
	}
	.col-3 {
		float: none;
	}
	.button-holder{
		bottom: 0;
		position: relative;
		z-index: 0;
	}
	&.eleconf{
		height: auto;
		.header{
			margin-bottom: 10px;
		}
	}
}

.column-panel {
	[class^="col-"] {
		vertical-align: top;
		display: inline-block;
		margin-bottom: 20px;
	}
}

.product-panel {
	a {
		display: block;
		border: 1px solid $c-border;
		margin-bottom: 20px;
		padding: 20px;
		&:hover {
			border-color: $c-secondary-medium;
			text-decoration: none;
			h2 {
				color: darken($c-text, 10%);
			}
		}
	}
	h2 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	.image-block {
		height: 250px;
		img {
			max-width: 100%;
			max-height: 100%;
			position: relative;
			top: 50%;
			margin: 0 auto;
			@include transform(translateY(-50%));
		}
	}
	.button-block {
		@include price-block(42px);
	}
	.button {
		float: right;
		margin-top: -60px;
	}
	.price-block {
		margin-bottom: 20px;
	}
	.ufhd-logo {
		max-width: 90%;
	}
	&.one {
		//@include make-xs-column(12);
	}
	&.homepage-second {
		a {
			overflow: hidden;
			padding: 20px;
		}
		.image-container {
			display: inline-block;
			max-width: 48%;
			max-height: 250px;
			min-height: 150px;
			vertical-align: top;
			img {
				width:100%;
			}
		}
		div.content-container {
			display: inline-block;
			width: 50%;
			float: none;
			h2 {
				font-size: 19px;
				line-height: 22px;
				max-width: 190px;
				margin: 0 0 0 0;
			}
			p.price {
				margin: 15px 0;
				color: $c-primary-medium;
				font-size: 14px;
				strong {
					font-weight: 900;
					font-size: 24px;
				}
			}
			div.button {
				margin-bottom: 0;
			}
		}
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.product-panel {
		font-size: 0;
		.image-block,
		.button-block {
			display: inline-block;
			vertical-align: top;
		}
		.image-block {
			height: 200px;
			width: 60%;
			margin-right: 3%;
		}
		.button-block {
			width: 37%;
			@include price-block(48px);
		}
		.button {
			float: none;
			margin-top: 0;
			margin-bottom: 20px;
		}
		&.homepage-second {
			div.content-container {
				float: right;
				h2 {
					margin: 0 0 50px 0;
				}
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.info-panel {
		overflow: hidden;
		img {
			&.header {
				width: 55%;
				float: left;
				margin-right: 25px;
				margin-bottom: 20px;
			}
		}
		.content {
			width: 38%;
			float: right;
		}
		.button-holder{
			bottom: -3px;
		}
		h2 {
			font-size: 22px;
		}
	}
	.product-panel {
		width: calc(50% - 10px);
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		&:nth-of-type(2n+2) {
			margin-right: 0;
		}
		h2 {
			font-size: 17px;
			line-height: 1.2;
		}
		.image-block,
		.button-block {
			display: block;
			width: 100%;
		}
		.button {
			float: right;
			margin-top: -60px;
		}
		.price-block {
			margin-bottom: 20px;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.info-panel {
		h2 {
			font-size: 24px;
			line-height: 1.2;
		}
	}
	.product-panel {
		h2 {
			font-size: 20px;
			line-height: 1.1;
		}
		.image-block {
			height: 190px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.column-panel {
		font-size: 0;
		[class^="col-"] {
			width: calc(50% - 10px);
			margin-right: 20px;
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
	.info-panel {
		img.header,
		.content {
			width: 100%;
			float: none;
		}
		.button-holder{
			bottom: auto;
    		position: relative;
		}
	}
	.product-panel {
		h2 {
			font-size: 22px;
		}
		.button-block {
		}
		.image-block,
		.button-block {
			display: inline-block;
			vertical-align: top;
		}
		.image-block {
			width: calc(60% - 20px);
			margin-right: 20px;
		}
		.button-block {
			@include price-block(44px);
			width: 40%;
		}
		.button {
			float: none;
			margin-top: 0;
		}
	}
}