.price-block {
    color: $c-primary-medium;
    .from {
    	font-size: 14px;
		line-height: 2;
        font-weight: 100;
        display: block;
    }
    .price-value {
        display: block;
        strong {
            display: inline-block;
            vertical-align: top;
            &:before {
                content: '£';
                font-size: 50%;
                vertical-align: middle;
                font-weight: 100;
                margin: 0 2px 0 0;
                position: relative;
            }
        }
        div {
            display: inline-block;
            vertical-align: top;
            .pence {
				line-height: 0.9;
                display: block;
                margin-bottom: 3px;
            }
            .vat {
				line-height: 1;
                display: block;
            }
        }
    }
    @include price-value();
}

// #main-column {
//     .product-panel {
//         .price-block {
//         	margin-bottom: 20px;
//             .from {
//             	font-size: 14px;
//             	line-height: 2;
//             }
//             .price-value {
//                 strong {
// 	            	font-size: 32px;
// 	            	line-height: 0.75;
//                 }
//                 div {
//                     margin-left: 2px;
//                     .pence {
// 		            	font-size: 18px;
// 		            	line-height: 1;
//                         margin-bottom: 4px;
//                     }
//                     .vat {
// 		            	font-size: 10px;
// 		            	line-height: 1;
//                     }
//                 }
//             }
//         }
//     }
// }

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.price-block {
		.from {
			font-size: 12px;
		}
		@include price-value(40px);
	}
	// #main-column {
	//     .product-panel {
	//         .price-block {
	//             .from {
	// 				font-size: 12px;
	//             }
	//             .price-value {
	//                 strong {
	// 					font-size: 28px;
	// 					line-height: 0.8;
	//                 }
	//                  div {
	//                     .pence {
	// 						font-size: 14px;
	//                     }
	//                     .vat {
	// 						font-size: 9px;
	//                     }
	//                 }
	//             }
	//         }
	//     }
	// }
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.price-block {
		.from {
			font-size: 14px;
			line-height: 1.8;
		}
		@include price-value(44px);
	}
	// #main-column {
	//     .product-panel {
	//         .price-block {
	//             .from {
	//             }
	//             .price-value {
	//                 strong {
	// 					font-size: 32px;
	//                 }
	//                  div {
	//                     .pence {
	// 						font-size: 13px;
	//                     }
	//                     .vat {
	// 						font-size: 10px;
	//                     }
	//                 }
	//             }
	//         }
	//     }
	// }
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.price-block {
		.from {
			font-size: 17px;
		}
		@include price-value(54px);
	}
	// #main-column {
	//     .product-panel {
	//         .price-block {
	//             .from {
	// 				font-size: 15px;
	//             }
	//             .price-value {
	//                 strong {
	// 					font-size: 41px;
	// 					line-height: 0.75;
	//                 }
	//                  div {
	//                     .pence {
	// 						font-size: 16px;
	//                     }
	//                 }
	//             }
	//         }
	//     }
	// }
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.price-block {
		.from {
			font-size: 20px;
		}
		@include price-value(60px);
	}
	// #main-column {
	//     .product-panel {
	//         .price-block {
	//             .from {
	// 				font-size: 18px;
	//             }
	//             .price-value {
	//                 strong {

	//                 }
	//                  div {
	//                     .pence {
	// 						font-size: 20px;
	//                     }
	//                     .vat {
	// 						font-size: 11px;
	//                     }
	//                 }
	//             }
	//         }
	//     }
	// }
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {

}