#product_form {
    margin: 0 auto 20px auto;
    h1 {
        font-weight: 500;
        font-size: 19px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .image-container {
        text-align: center;
        table {
            margin:0;
            width: 100%;
            display: block;
            tbody,
            tr,
            td {
                display: block;
            }
            tbody {
            	tr:nth-of-type(2) {
            		display: none;
            	}
            }
        }
        td {
            border: none;
        }
        img {
            width: auto;
            height: auto;
			max-height: 1000px;
			max-width: 100%;
        }
        @-moz-document url-prefix() {
            img {
                width: 100%!important;
            }
        }
    }
    .options-container {
        background-color: lighten($c-secondary-light, 4%);
        padding: 15px;
    }
    .option-container {
        margin-bottom: 16px;
        label {
            font-weight: 600;
        }
    }
    #out-of-stock {
        display: none;
        float: right;
        width: 65%;
        text-align: right;
        clear: both;
        color: $c-primary-medium;
    }

    .rrp {
        text-decoration: line-through;
        font-weight: 100;
        font-size: 15px;
        strong {
            @extend .highlight;
            font-weight: 100;
        }
    }
    .price {
        font-size: 16px;
        line-height: 1.2;
        strong {
            font {
                color: $c-primary-medium!important;
            }
            display: block;
            font-weight: 500;
	        font-size: 30px;
	        line-height: 1.5;
        }
        .vat {
        	font-size: 65%;
        	line-height: 1;
        }
    }
    #usp-block {
    	margin-bottom: 16px;
        div {
	        font-size: 18px;
	        line-height: 1.3;
            & > span {
                display: inline-block;
                vertical-align: middle;
                &:last-of-type {
                	width: calc(100% - 48px);
                	line-height: 20px;
                }
            }
            margin-left: 0;
            margin-bottom: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        .directicon {
            font-size: 34px;
            margin-right: 6px;
        }
        br {
        	display: none;
        }
        p {
            margin-bottom: 0;
            font-size: 11px;
        }
    }
    .trustpilot-widget {
    	margin-bottom: 16px;
    }
	.button-holder {
	    position: relative;
	    z-index: 0;
	    margin-right: 10px;
	    clear: both;
	}
}

#qty-field-container {
	float: right;
	margin-bottom: 20px;
	span,
	label {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	span {
		width: 70px;
	}
	label {
		margin-right: 10px;
	}
	input {
		width: 70px;
		margin-bottom: 0;
	}
}

#add-to-cart-button-container {
    float: right;
    clear: both;
}
.ekmps-product-add-to-cart {
    @include button();
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    margin-right: 0;
}

#related-products {
	clear: both;
	float: none;
}
.related-product {
	display: block;
	margin-bottom: 20px;
	padding: 0 5px;
	.image-container {
		img {
			max-width: 100%;
			max-height: 130px;
			margin: 0 auto;
		}
	}
}
// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#product_form {
	    margin-bottom: 20px;
	    h1 {
	    	font-size: 18px;
	    }
	    .image-container {
	    	img {
	            max-width: 84%;
	            max-height: 400px;
	    	}
	    }
	    .rrp {

	    }
	    .price {
			strong {
		        line-height: 1.2;
			}
	    }
	     #usp-block {
	        div {
	            margin-left: 3px;
	        }
	    }
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#product_form {
	    h1 {
	    	font-size: 20px;
	        margin-bottom: 14px;
	    }
	    .rrp {
	        font-size: 16px;
	    }
	    .price {
	        font-size: 18px;
	        line-height: 1;
			strong {
		        font-size: 38px;
			}
	    }
	     #usp-block {
	        div {
		        font-size: 17px;
		        line-height: 1.2;
	            margin-left: 10px;
	        }
	    }
	    p {
            font-size: 10px;
	    }
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#product_form {
		overflow: hidden;
		.image-container {
			width: 50%;
			float: left;
			padding-left: 10px;
			padding-right: 10px;
		}
		.options-container {
			float: right;
			width: 50%;
		}
	    h1 {
	    	font-size: 21px;
	    	line-height: 1.3;
	        margin-bottom: 16px;
	    }
	    .price {
	        font-size: 20px;
	        line-height: 1.2;
	        margin-bottom: 10px;
			strong {
		        line-height: 1;
		        font-size: 40px;
			}
	    }
	    p {
            font-size: 13px;
            line-height: 17px;
	    }
	}
	#related-products {
		margin-bottom: 20px;
		h1 {
			font-size: 22px;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#product_form {
	    h1 {
	    	font-size: 26px;
	    	line-height: 1.2;
	        margin-bottom: 18px;
	    }
	    .rrp {
	        font-size: 20px;
	    }
	    .price {
	        font-size: 24px;
			strong {
		        font-size: 52px;
			}
	    }
	     #usp-block {
	        div {
		        font-size: 20px;
		        line-height: 1.1;
	            margin-left: 50px;
	        }
	    }
	}
}
