#tabbed-content-container {
    margin-bottom: 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tab-content {
	dt {
        border-top: 1px solid $c-secondary-light;
        display:block;
        width: 100%;
        padding: 8px 10px;
        text-align: left;
        font-size: 14px;
        font-weight: initial;
        &.active,
        &:hover {
            background-color: lighten($c-secondary-light, 3%);
            color: $c-primary-medium;
            cursor: pointer;
        }
        &.product-details,
        &.installation,
        &.specification,
        &.thermostats,
        &.delivery {
        	&:before {
        		font-size: 24px;
        		vertical-align: middle;
        		margin-right: 8px;
        	}
        	@extend .directicon;
        }
        &.product-details {
			@extend .directicon-cube;
        }
        &.installation {
			@extend .directicon-cable;
        }
        &.specification {
			@extend .directicon-ticked-list;
        }
        &.thermostats {
			@extend .directicon-celcius;
        }
        &.delivery {
			@extend .directicon-truck;
        }
    }
    dd {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0px;
        overflow: hidden;
        @include transition("max-height 0.4s, padding-top 0.4s, padding-bottom 0.4s");
        &.active {
	        max-height: 2000px;
	        padding-top: 20px;
	        padding-bottom: 20px;
        }
	    h2 {
	        margin: 0 0 10px 0;
	    }
		h5 {
			font-weight: 600;
		}
		h6 {
			margin-bottom: 10px;
		}
	    hr {
	    	display: none;
	    }
	    .row {
	    	&.full {

	    	}
	    }
	    .section {
	    	font-size: 0;
	    }
	    .image-container {
			width: 100%;
			position: relative;
			min-height: 1px;
			padding-left: 10px;
			padding-right: 10px;
			img {
				max-width: 95%;
			}
	    }
	    .col-2 {
	    	display: inline-block;
			vertical-align: top;
			width: 100%;
			font-size: 0;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid $c-border;
			div {
				width: 50%;
				display: inline-block;
				vertical-align: middle;
				p {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			img {
				max-width: 90%;
				max-height: 200px;
			}
		}
		.download {
			width: 200px;
			padding: 16px;
			display: block;
			margin-bottom: 20px;
			&:hover {
				text-decoration: none;
			}
			img {
				width: 100%;
				margin-bottom: 16px;
			}
			span {
				@include button();
				font-size: 15px;
				margin: 0;
			}
			p {
				display: none;
				padding: 0;
				margin: 0;
				margin-bottom: 16px;
				text-align: center;
			}
		}
		ul:not([class]) {
			@extend .tick;
		}
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	#tabbed-content-container {
		margin: 0 auto;
	}
	#tab-content {
		.section {
			.image-container {
				width: 50%;
			}
			.content-container {
				width: 50%;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#tab-content {
		dd {
			.row {
				font-size: 0;
				& > .image-container,
				& > .image-container + div {
					display: inline-block;
					vertical-align: middle;
				}
				& > .image-container {
					width: 36%;
					text-align: center;
					img {
						max-width: 95%;
					}
				}
				& > .image-container + div {
					width: 64%;
				}
			}
			.col-2 {
				width: 50%;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#tab-content {
	    dt {
			width: 19.6%;
	        font-size: 12px;
	        display: inline-block;
	        text-align: center;
	        border: none;
	        padding-top: 12px;
	        padding-bottom: 12px;
	    }
		dd {
			border-top: 1px solid #eee;
			padding: 10px;
			width: 100%;
			position: relative;
			display: none;
			float: left;
			h2 {
				margin-top: 0;
			}
			img {
				.full-width {
					width: 100%;
				}
			}
			&.active {
				display: inline-block;
			}
			&[data-tab="thermostats"] {
				.section {
					.image-container {
						width: 36%;
					}
					.content-container {
						width: 64%;
					}
				}
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#tab-content {
	    dt {
	        font-size: 19px;
	    }
	}
}