#slideshow,
#slide-controls,
.flexslider {
	margin: 0;
    width: 100%;
	border: none;
	border-radius: none;
}

.flexslider {
	.slide {
    	display: none;
    }
}

#slideshow {
	margin-bottom: 20px;
    width: 100%;
    .slide {
    	& > a {
    		display: block;
    		position: relative;
    	}
    }
    .slide-copy {
        color: $c-text;
		position: absolute;
		top: 23%;
		left: 8%;
        &.dark,
        &.dark h1 {
            color: #FFFFFF;
        }
        h1 {
        	width: 70%;
        	font-size: 0;
        	span {
        		display: inline-block;
        		vertical-align: middle;
        	}
            .words {
            	width: 70%;
	            font-weight: 300;
	            font-size: 4vw;
	            line-height: 4.4vw;
            }
            .directicon {
                font-size: 8vw;
                width: 30%;
            }
        }
        p {
        	display: none;
        }
    }
    .flex-direction-nav {
    	display: none;
    }
}

#slide-controls {
	display: none;
    margin-bottom: 20px;
    font-size: 0;
    .control {
        background: $c-secondary-dark;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 6px 6px 6px 35px;
        font-size: 0;
        & + .control {
            background-image: url(../Design/li-li.jpg);
            background-position: left center;
            background-repeat: no-repeat;
        }
        span {
            color: $c-white;
            display: inline-block;
            vertical-align: middle;
        }
        .directicon {
            font-size: 4.5vw;
            line-height: 4.2vw;
            width: 30%;
        }
        .words {
            font-size: 1.8vw;
            line-height: 2.2vw;
            width: 70%;
        }
        &.flex-active, &:hover {
        	.directicon:before {
        		color: $c-primary-medium;
        	}
        }
    }
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	#slideshow {
		margin-bottom: 0;
		.slide-copy {
			top: 15%;
			width: 54%;
			p {
				display: block;
				width: 90%;
			}
		}
	}
	#slide-controls {
		display: block;
		.flex-direction-nav {
	    	display: none;
	    }
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	#slideshow {
		.slide-copy {
			h1 {
				margin-bottom: 20px;
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	#slideshow {
		.slide-copy {
			h1 {
				margin-bottom: 30px;
			}
			p {
				font-size: 15px;
				line-height: 1.3;
			}
		}
	}
	#slide-controls {
		.control {
			padding: 8px 6px 9px 45px;
			.words {
				font-size: 18px;
				font-weight: 300;
                line-height: 1.2;
                width: calc(100% - 70px);
			}
			.directicon {
				width: 50px;
				font-size: 34px;
				line-height: 1;
			}
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	#slideshow {
		.slide-copy {
			top: 18%;
			h1 {
				.words {
					font-size: 47px;
					line-height: 1;
				}
	            .directicon {
	            	font-size: 100px;
	            	width: 120px;
	            }
			}
			p {
				font-weight: 100;
				font-size: 16px;
			}
		}
	}
	#slide-controls {
		.control {
			.words {
                br {
                	display: none;
                }
			}
		}
	}
}