@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');

@font-face {
    font-family: "tagline";
    src:url("https://www.theunderfloorheatingstore.com/media/ufhd/font/direct-tagline.eot");
    src:url("https://www.theunderfloorheatingstore.com/media/ufhd/font/direct-tagline.eot?#iefix") format("embedded-opentype"),
        url("https://www.theunderfloorheatingstore.com/media/ufhd/font/direct-tagline.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Roboto, Arial, sans-serif;
    color: $c-text;
    font-size: 14px;
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
    &:first-child {
        margin-top: 0;
    }
    &.centered{
        text-align: center;
    }
}

h1 {
    color: $c-text;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 14px;
    font-weight: 300;
}

h2 {
	font-size: 18px;
    margin-bottom: 5px;
    margin-top: 14px;
    font-weight: 300;
}

h3 {
    color: $c-primary-medium;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 16px;
    &.landing {
        color: $c-text;
        font-size: 13px;
        font-weight: 600;
    }
}

h4 {
    color: $c-primary-medium;
    font-size: 19px;
}

h5 {
	font-size: 14px;
    margin-bottom: 10px;
}

a {
	color: $c-text;
	text-decoration: none;
    &:hover {
        color: $c-primary-medium;
    }
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 18px;
}

small {
	font-size: 10px;
}

.note {
    color: $c-primary-medium;
    sup{
        color: $c-primary-medium;
    }
    &.idea{
        display:block;
        margin-bottom: 8px;
    }
}

.disclaimer-marker {
    display: inline-block;
    font-size: 120%;
    margin: 0 4px;
}

.with-icon {
    &:before {
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
    }
    &.electric {
        &:before {
            content: url('../Design/icon-electric.svg');
            width: 53px;
        }
    }
    &.water {
        &:before {
            content: url('../Design/icon-water.svg');
            width: 53px;
        }
    }
}

.important {
    color: $c-primary-medium;
    font-weight: 600;
    &:before{
        content:'*';
        @extend .disclaimer-marker;
    }
}

.highlight {
    color: $c-primary-medium;
}

.chevron-link {
    color: $c-primary-medium;
    &:after{
        content: url('../Design/chevron.jpg');
        height: 17px;
        position:relative;
        top: 4px;
        left: 4px;
    }
}

.intro {
    font-size: 120%;
    line-height: 140%;
}

.mat-disclaimer {
    padding: 0 20px;
    margin: 0;
}

tel {
	@extend .directicon;
	@extend .directicon-telephone;
	color: $c-secondary-dark;
	display: block;
	font-size: 24px;
	font-weight: 500;
	&:before {
		color: $c-primary-medium;
		margin-right: 10px;
		font-size: 26px;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	body {
		font-size: 13px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 16px;
	}
	h3 {
		font-size: 16px;
		&.landing {
			font-size: 14px;
		}
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 15px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 28px;
		margin-bottom: 10px;
		margin-top: 18px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 8px;
		margin-top: 18px;
	}
	h3 {
		font-size: 17px;
		&.landing {
			font-size: 15px;
		}
	}
	h4 {
		font-size: 23px;
	}
	h5 {
		font-size: 16px;
	}
	small {
		font-size: 11px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	h1 {
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 12px;
		margin-top: 20px;
	}
	h2 {
		font-size: 21px;
		line-height: 1.2;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	h3 {
		font-size: 18px;
		&.landing {
			font-size: 16px;
		}
	}
	h4 {
		font-size: 26px;
		line-height: 1.2;
	}
	h5 {
		font-size: 17px;
	}
	small {
		font-size: 12px;
	}
}
