// ==========================
// Colours
// ==========================

$c-blue: #469be6;
$c-grey:   #A7A9AB;
$c-xlgrey:  #F4F4F4;
$c-lgrey:  #ebebeb;
$c-dgrey:  #58585B;
$c-bgrey: #cacaca;

$c-text: $c-dgrey;
$c-text-light: $c-grey;

$c-border: $c-bgrey;
$c-border-dark: $c-grey;